
    {{!-- errors --}}
    {{#if errors}}
    <div class="errors">
        <p>{{ errors }}</p>
    </div>
    {{/if}}

    {{!-- error --}}
    {{#if error}}
    <div class="errors">
        <p>{{ error }}</p>
    </div>
    {{/if}}