
    <!-- main -->
    <section class="main" id="home">
        <!-- <video src="./images/video.mp4" autoplay loop muted type="mp4"></video> -->
        <img src="/images/fondo.jpg" alt="" class="mask">
        <h2>climeApp</h2>
        <p class="text"> ˂ / ˃  &nbsp &nbsp Sistemas distribuidos </p>
        <ul class="sci">
            <li><a href="#" target="blank"><ion-icon name="logo-github"></ion-icon></a></li>
        </ul>
    </section>

    <!-- scripts base -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/main.js"></script>