
    <!-- main -->
    <p class="text"> ˂ / ˃  &nbsp &nbsp  &nbsp &nbsp Sistemas distribuidos</p>
    <ul class="sci">
        <li><a href="#" target="blank"><ion-icon name="logo-github"></ion-icon></a></li>
    </ul>


    <!-- cifrado -->
    <section class="cifrado" id="section" method="">
        <h2>Crear cuenta</h2>

        <form class="contenedor" action="/register" method="POST">
            <div >
                <input type="email" placeholder="correo" name="email">
            </div>

            <div >
                <input type="password" placeholder="contraseña" name="password">
            </div>

            <div >
                <input type="password" placeholder="confirmar contraseña" name="reppassword">
            </div>

            <div class="seleccion">
                <button type="submit" class="boton">Registrarse</p>
            </div>

            <div>
                <br>
                <p>Ya tienes una cuenta ???  <a href="/login">Iniciar sesion</a></p>
            </div>
        </form>

    </section>


    <!-- navigation -->
    <ul class="navigation">
        <li><a href="./index.html" id="homeLink">Inicio</a></li>
        <li><a href="./buscar.html" id="cesarLink">Buscar ciudad</a></li>
        <li><a href="./iniciarSesion.html" id="vigenereLink">Salir</a></li>
    </ul>


    <!-- scripts base -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/main.js"></script>